# ========================
# Terraform
# ========================
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# ========================
# .NET
# ========================
bin/
obj/

# ========================
# Node / Frontend
# ========================
node_modules/
dist/

# ========================
# Logs
# ========================
*.log

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
